.change-task {
  display: flex;
  flex-direction: column;

  background-color: #fff;

  padding: 2rem 4rem;

  &-container {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    top: 0;
    right: 0;

    background-color: rgba(0,0,0,.3);
  }
}